doctype html
html
  head
    title= title

    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

  body
    nav(class="navbar navbar-inverse")
      div(class="container-fluid")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar")
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand", href="/") Logo

        div(class="collapse navbar-collapse", id="myNavbar")
          ul(class="nav navbar-nav")
            if user
              li
                a(href="/userslist/") Usuarios
              li
                a(href="/mealslist/") Comidas
              li
                a(href="/dailymealslist/") Menús
          ul(class="nav navbar-nav navbar-right")
            li
              if user
                a(href='/logout')
                  span(class="glyphicon glyphicon-log-in")

    div(class="container-fluid")
      div(class="row content")
        block content

    footer(class="container-fluid text-center")
      p Footer
