body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.title {
  text-align: center;
  margin: 50px;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding: 25px;
  text-align: center;
}

.add {
  color: GREEN;
}

.modify {
  color: BLUE;
}

.remove {
  color: RED;
}

th, td {
  padding: 10px;
}

label {
  margin-top: 20px;
}
