extends ../layout

block content
  script(src='/javascripts/dailymeals.js')
  h2 Comidas diarias

  h2 Información del menú del <span id='date'></span>
  p
    strong Almuerzo: 
    |  <span id='lunch'></span>
    br
    strong Cena:
    |  <span id='dinner'></span>

  #dailyMeals
    h2 Listado diario
    table
      thead
        th Fecha
      tbody
