extends ../layout

block content
  script(src='/javascripts/meals/list.js')
  div(class='row')
    div(class='col-lg-12')
      h2(class='title') Comidas

  div(class='row')
    div(class='col-lg-11 offset-lg-11')
    div(class='col-lg-1')
      a(href='/addmeal', class='add')
        span(class='glyphicon glyphicon-plus')

  div(class='row')
    div(class='col-lg-1 offset-md-1')
    div#mealInfo(class='col-lg-3')
      h2 Información de la comida
      p
        strong Nombre:
        |  <span id='name'></span>
        br
        strong Tipo:
        |  <span id='type'></span>

    div(class='col-lg-1 offset-md-1')
    div#mealList(class='col-lg-5')
      h2 Lista de comidas
      table
        thead
          th Comida
          th
          th
        tbody
