extends ../layout

block content
  script(src='/javascripts/mealslist.js')
  h2 Comidas

  #mealInfo
    h2 Información de la comida
    p
      strong Nombre:
      |  <span id='name'></span>
      br
      strong Tipo:
      |  <span id='type'></span>

  #mealList
    h2 Lista de comidas
    table
      thead
        th Comida
      tbody
