extends ../layout

block content
  script(src='/javascripts/adduser.js')
  h2 Nuevo usuario

  #addUser
    input#inputUser(type='text', placeholder='Usuario')
    br
    input#inputPassword(type='password', placeholder='Contraseña')
    br
    select#inputRol
      option(value="") Seleccione un valor
      if roles
        each rol in roles
          option(value=rol._id) #{rol.name}
    br
    br
    button#btnAddUser Añadir Usuario
