extends ../layout

block content
  script(src='/javascripts/userslist.js')
  h2 Lista de usuarios

  #userInfo
    h2 User Info
    p
      strong Name:
      |  <span id='user'></span>
      br
      strong Password:
      |  <span id='password'></span>
      br
      strong Rol:
      |  <span id='rol'></span>

  #userList
    h2 User List
    table
      thead
        th User
        th Rol
        th Modify
        th Delete
      tbody
