extends ../layout

block content
  script(src='/javascripts/userslist.js')
  h2 Usuarios

  #userInfo
    h2 User Info
    p
      strong Nombre:
      |  <span id='user'></span>
      br
      strong Contraseña:
      |  <span id='password'></span>
      br
      strong Rol:
      |  <span id='rol'></span>

  #userList
    h2 Lista de usuarios
    table
      thead
        th User
        th Rol
        th Modify
        th Delete
      tbody
